html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.oi {
  display: flex;
  flex-wrap: nowrap; /* Mantém os elementos na mesma linha */
  gap: 0px; /* Remove qualquer espaçamento entre as colunas */
}

.col-custom {
  flex: none; /* Não deixa as colunas se expandirem */
  width: auto; /* Ajusta a largura ao conteúdo */
  padding-right: 10px; /* Dá um pequeno espaço entre os inputs e os rótulos da segunda coluna */
}

/* Ajusta o tamanho dos inputs */
.input-small {
  width: 100%; /* Faz os inputs ocuparem toda a largura disponível dentro da coluna */
  max-width: 230px; /* Ajusta a largura máxima que você considera adequada */
  font-size: 14px; /* Diminui o tamanho da fonte dos inputs */
}

/* Alinha os campos de formulário para que fiquem mais próximos */
.form-group {
  margin-bottom: 10px; /* Reduz o espaçamento entre os campos */
}

/* Ajusta o tamanho dos botões */
.btn-success, .btn-secondary {
  padding: 10px 20px; /* Ajusta o tamanho dos botões */
  font-size: 16px; /* Ajusta o tamanho da fonte */
}

label {
  display: inline-block; /* Mantém os rótulos alinhados horizontalmente */
  white-space: nowrap; /* Impede que quebrem linha */
  margin-right: 5px; /* Reduz o espaço à direita dos rótulos */
}

.d-flex {
  display: flex;
  justify-content: start;
  gap: 30px; /* Aumenta o espaço entre os itens */
}

.menu-item {
 
  font-size: 20px;
  cursor: pointer;
  font-weight: bold
}
.menu-item.active {
  color: #ff6347; /* Cor de destaque quando clicado */
  font-weight: bold; /* Destaca ainda mais */
}

