html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Ajusta o layout da row para ter 10px de espaço entre as colunas */
.row {
  display: flex;
  gap: 10px; /* Define o espaçamento de 10px entre as colunas */
  flex-wrap: wrap; /* Permite que as colunas se ajustem em telas menores */
}

/* Ajuste a largura das colunas */
.col-custom {
  flex: 1 1 5%; /* Faz as colunas ocuparem 30% da largura da linha */
  min-width: calc(30% - 10px); /* Garante que as colunas tenham um espaço de 10px entre elas */
  box-sizing: border-box; /* Garante que o padding e bordas sejam considerados no cálculo da largura */
}

/* Ajusta o tamanho dos inputs */
.input-small {
  width: 100%; /* Faz os inputs ocuparem toda a largura disponível dentro da coluna */
  max-width: 230px; /* Ajusta a largura máxima que você considera adequada */
  font-size: 14px; /* Diminui o tamanho da fonte dos inputs */
}

/* Alinha os campos de formulário para que fiquem mais próximos */
.form-group {
  margin-bottom: 10px; /* Reduz o espaçamento entre os campos */
}

/* Ajusta o tamanho dos botões */
.btn-success, .btn-secondary {
  padding: 10px 20px; /* Ajusta o tamanho dos botões */
  font-size: 16px; /* Ajusta o tamanho da fonte */
}
